
<div >

	<div class="panel panel-info panelcontainer" >
		<div class="panel-heading"><b>Job Details</b> 
		
		</div>
		
		<div class="panel-body fcolor">
			<ul style="list-style: none;">
             <li ng-repeat="job in jobs" >
             <b>Job Title:<b>{{job.jobTittle}}</b><br>
            <b>Job Description</b>:{{job.jobDescription}}<br> <b>Skills
					Required</b>:{{job.skillsRequired}}<br> <b>Location</b>
				:{{job.location}}<br> <b>years of Exp</b> :{{job.yrsofExp}}<br>
				<b>Company Name</b> :{{job.companyName}}<br> <b>Salary</b>{{job.salary}}<br>
				<b>Posted on</b>{{job.postedOn | date:'medium'}}<br>
				</b>
				<hr>
				</li>
			</ul>
		</div>
	</div>
</div>
				



